<!DOCTYPE html>
<html>
<head>
  <title>Vue Chat Room</title>
  <script src="https://unpkg.com/vue"></script>
  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div id="chat" class="container">
  <h1>Vue Chat Room</h1>
  <!-- Messages -->
  <div v-for="message in messages" class="card">
    <div class="card-body">
      <!-- nickname -->
      <h6 class="card-subtitle mb-2 text-muted">{{ message.nickname }}</h6>
      <!-- content -->
      <p v-if="message !== editingMessage" class="card-text">{{ message.text }}</p>
      <!-- edit text area -->
      <textarea v-else v-model="messageText" class="form-control"></textarea>
      <!-- actions -->
      <div v-if="message !== editingMessage">
        <a @click.prevent="deleteMessage(message)" href="#" class="cart-link">Delete</a>
        <a @click.prevent="editMessage(message)" href="#" class="cart-link">Edit</a>
      </div>
      <div v-else>
        <a @click.prevent="cancelMessage" href="#" class="cart-link">Cancel</a>
        <a @click.prevent="updateMessage" href="#" class="cart-link">Update</a>
      </div>
    </div>
  </div>

  <hr>
  <!-- New Message -->
  <form v-if="!editingMessage" @submit.prevent="storeMessage">
    <div class="form-group">
      <label>Message:</label>
      <textarea v-model="messageText" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Nickname:</label>
      <input v-model="nickname" class="form-control"/>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>


<script type="text/javascript">
    // Your web app's Firebase configuration
    const firebaseConfig = {
    apiKey: "AIzaSyDAsJSUt1MinKYhPzQ1yvfncTsvBl2jQ0c",
    authDomain: "vue-chart-room.firebaseapp.com",
    databaseURL: "https://vue-chart-room.firebaseio.com",
    projectId: "vue-chart-room",
    storageBucket: "vue-chart-room.appspot.com",
    messagingSenderId: "286957013605",
    appId: "1:286957013605:web:89172a8fded3405aedd48c",
    measurementId: "G-HZJ50QQ3TQ"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    const database = firebase.database()

    const messagesRef = database.ref('messages')

    new Vue({
    el: "#chat",
    data: {
        messages: [],
        messageText: '',
        nickname: 'Uzzal roy',
        editingMessage: null
    },
    methods: {
        storeMessage () {
        messagesRef.push({text: this.messageText, nickname: this.nickname})
        this.messageText = ''
        },
        deleteMessage(message) {
          messagesRef.child(message.id).remove()
        },
        editMessage(message) {
          this.editingMessage = message
          this.messageText = message.text
        },
        cancelMessage() {
          this.editingMessage = null
          this.messageText = ''
        },
        updateMessage() {
          messagesRef.child(this.editingMessage.id).set({text: this.messageText})
          this.cancelMessage()
        }
    },
    created() {
      // value = snaoshot.val() | snapshot.key
        messagesRef.on('child_added', snapshot => this.messages.push({...snapshot.val(), id: snapshot.key}))
        // remove event changed listener
        messagesRef.on('child_removed', snapshot => {
          const deleteMessage = this.messages.find(message => message.id === snapshot.key)
          const index = this.messages.indexOf(deleteMessage)
          this.messages.splice(index, 1)
        })
        // update listen
        messagesRef.on('child_changed', snapshot => {
        const updateMessage = this.messages.find(message => message.id === snapshot.key)
          updateMessage.text = snapshot.val().text
        })
    }
    })
</script>
</body>
</html>